<footer class="mdl-mini-footer">
	<div class="mdl-mini-footer__left-section">
		<div class="mdl-logo Montserrat">Oxygen</div>
		<ul class="mdl-mini-footer__link-list">
			<li><a href="https://github.com/QwertyThinkNo/Oxygen">Github <i class="fa fa-github" aria-hidden="true"></i></a></li>
			<li><a href={{ path_for( 'about' ) }}>A propos</a></li>
		</ul>
	</div>
</footer>
